* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.small-div {
  flex: 1;
  padding: 20px;
  margin-bottom: 10px;
}

.paw-icon {
  margin-left: 10px; 
}

.right {
  flex: 1;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}


.buttons button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* gallery section  */

.gallery {
  padding: 20px;
  text-align: center;
  
}
.galleries {
  display: grid;
  grid-template-columns: repeat(6 , 1fr);
  gap: 25px; 
   padding: 0px;
}

.gal-box {
  overflow: hidden;
  background-color: #f0f0f0; 
  aspect-ratio: 1 / 1; 
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 0px;
}

.doggie {
  
  width: 60%;
  height: auto;
  object-fit: cover; 
}

/* blog section  */

.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
  border: 1px solid saddlebrown;
  padding: 20px; 
}

.blog {
  display: flex; 
  justify-content: center;
  align-items: center;
}

.card {
  transition: transform 0.2s; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 10px;
  background-color: #c1b8b8;
}

.card:hover {
  transform: translateY(-5px); 
}
